/*
File: Body.css
*/

@import url("assets/css/main.css");


/* Header */

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 15pt;
}

header p0 {
	font-style: italic;
}

  #first h2 {
	font-family: 'Ubuntu', sans-serif;
	font-style: normal;
	font-weight: lighter:bold;
	color:  #ba995e;
}

#first h3 {
font-family: 'Ubuntu', sans-serif;
font-style: normal;
font-weight: lighter:bold;
color:  #ba995e;
}

#fourth h2 {
font-family: 'Ubuntu', sans-serif;
font-style: normal;
font-weight: lighter:bold;
color:  #010d14;
}

	#header {
		position: relative;
		margin: 0;
		background-image: url("images/shoulder.jpg");
		background-size: 100% auto;
		padding: 12em 0 18em 0;
		text-align: center;
    background-repeat: no-repeat;
		color: #fff;
    height: auto;
	}

	#header h1 {
		font-family: 'Ubuntu', sans-serif;
		font-size: 80pt;
		line-height:normal;
	}


img#worldMap {
  width: 100%;
}

header#about {
  padding-bottom: 40px;
  padding-top: 40px;
}

hr.underline {
  border: 0;
  margin-right: 40%;
  margin-left: 40%;
  margin-top: 0;
  margin-bottom: 0;
  height: 5px;
  background: #000;
}

div#actionPlan {
  padding-top: 40px;
}
