/*
File: Body.css
*/

@import "fonts/MyFontsWebfontsKit.css";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);


.contact {
  padding-top: 5%;
}

section {
  padding: 0 5% 0 5%;
}

body {
	font-family: 'Open Sans', sans-serif;
  background-color: white;
}

center, p {
  color: black;
  font-weight: 300;
  font-style: normal;
}

center {
  font-size: 15px;
  line-height: 25px;
}
.main h2 {
  font-size: 25px;
}

.main h3 {
  font-size: 125%;
}

h2, h3 {
	font-family: BrandonGrotesqueWeb-Bold;
  font-style: normal;
  text-align: center;
	color:  #ba995e;
}

h3 {
  font-family: BrandonGrotesqueWeb-Medium;
  margin-bottom: 15px;
}

h2.about {
  font-size: 35px;
  font-family: BrandonGrotesqueWeb-Medium
}

.contact h2 {
  color:  #010d14;
}

.contact p {
  text-align: center;
}

.social-links {
  text-align: center;
}

.social-link {
  width : 60px;
}

.container {
  padding-bottom: 40px;
}

.container p {
  font-size: 15px;
  line-height: 25px;
}

footer {
  background-image: url("images/Footer_01.jpg");
  margin: auto;
  height: 230px;
  text-align:center;
}

header {
	position: relative;
	margin: 0;
	background-image: url("images/shoulder.jpg");
	background-size: 100% auto;
  background-position: center;
  padding-bottom:15%;
	text-align: center;
  background-repeat: no-repeat;
}

header p {
  color: #fff;
  text-align: center;
}

header img {
  height: auto;
  width: 10%;
}

.footer-image {
  width: 2em;
}

.footer-links a {
  padding: 0 0.5em;
}

h1 {
  padding-top: 15px;
	font-family: BrandonGrotesqueWeb-Medium;
  font-size: 400%;
	line-height:normal;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
}

.fullWidth {
  width: 100%;
}

.underlined {
  margin-bottom: 1%;
}

.row {
  margin: 0 auto 0 auto;
}

.underline {
  border: 10px;
  height: 2px;
  background: #000;
}

.page-break {
  -webkit-column-break-before: always;
}

div.textColumn {
  font-size: 15px;
  line-height: 25px;
}
@media all and (orientation:portrait) {
  header {
    	background-image: url("images/shoulder-mobile.jpg");
  }
}

@media only screen and (min-width:960px){
    /* styles for browsers larger than 960px; */
    header {padding:10% 0 10% 0;}
    .textColumn {
      margin: 5% 15% 5% 15%;
      margin: 5% 12% 5% 12%;
      -webkit-column-count: 2; /* Chrome, Safari, Opera */
      -moz-column-count: 2; /* Firefox */
      -ms-column-count: 2;
      column-count: 2;
      -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
      -moz-column-gap: 40px; /* Firefox */
      -ms-column-gap: 40px;
      column-gap: 40px;
    }
}
@media only screen and (max-width:960px){
    /* styles for browsers larger than 960px; */
    .textColumn {
      padding-top: 5%;
    }
}
@media only screen and (min-width:1440px){
    /* styles for browsers larger than 1440px; */
    header {padding:15% 0 15% 0;}
}
@media only screen and (min-width:2000px){
    /* for sumo sized (mac) screens */
    header {padding:20% 0 20% 0;}
}
@media only screen and (max-device-width:480px){
   /* styles for mobile browsers smaller than 480px; (iPhone) */
   header {padding:5% 0 5% 0;}
   .underline {
     margin: 0 25% 2% 25%;
   }
}
@media only screen and (device-width:768px){
   /* default iPad screens */
   header {padding:5% 0 5% 0;}
   .underline {
     margin: 0 35% 2% 35%;
   }
}
